<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="JavBusDownloader.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="JavBusDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<JavBusDownloader.Settings1>
			<setting name="设置" serializeAs="String">
				<value />
			</setting>
		</JavBusDownloader.Settings1>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<userSettings>
		<JavBusDownloader.Properties.Settings>
   <setting name="API" serializeAs="String">
    <value>https://javbus-api-jtl1207.vercel.app/api</value>
   </setting>
   <setting name="QT" serializeAs="String">
    <value />
   </setting>
   <setting name="RadioMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SortingMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DownloadNum" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="OutText" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OutShearPlate" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OutWindows" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Debug" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoloadingNum" serializeAs="String">
    <value>50</value>
   </setting>
  </JavBusDownloader.Properties.Settings>
	</userSettings>
</configuration>